# ======================================
# Solana MainNet service file 08/07/2022
# version 1.10.29
# ======================================
[Unit]
Description=Solana Mainnet Validator
After=network.target
After=sys-tuner-solana.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
LimitNOFILE=1000000

Environment="RUST_BACKTRACE=full"
Environment="SOLANA_METRICS_CONFIG="host=https://metrics.solana.com:8086,db=mainnet-beta,u=mainnet-beta_write,p=password""
Environment="EXPECTED_GENESIS_HASH=5eykt4UsFv8P8NJdTREpY1vzqKqZKvdpKuc147dw2N9d"

ExecStart=/root/.local/share/solana/install/active_release/bin/solana-validator \
  --ledger /root/solana/validator-ledger \
  --identity /root/solana/validator-keypair.json \
  --vote-account /root/solana/vote-account-keypair.json \
  --gossip-port 8001 \
  --rpc-port 8899 \
  --log - \
  --no-port-check \
  --private-rpc \
  --rpc-bind-address 127.0.0.1 \
  --dynamic-port-range 8001-8020 \
  --expected-genesis-hash ${EXPECTED_GENESIS_HASH} \
  --limit-ledger-size 50000000 \
  --full-rpc-api \
  --no-check-vote-account \
  --skip-poh-verify \
  --no-untrusted-rpc \
  --no-poh-speed-test \
  --snapshot-archive-format zstd \
  --incremental-snapshot-interval-slots 2000 \
  --entrypoint entrypoint.mainnet-beta.solana.com:8001 \
  --entrypoint entrypoint2.mainnet-beta.solana.com:8001 \
  --entrypoint entrypoint3.mainnet-beta.solana.com:8001 \
  --entrypoint entrypoint4.mainnet-beta.solana.com:8001 \
  --entrypoint entrypoint5.mainnet-beta.solana.com:8001 \
  --known-validator CakcnaRDHka2gXyfbEd2d3xsvkJkqsLw2akB3zsN1D2S \
  --known-validator DE1bawNcRJB9rVm3buyMVfr8mBEoyyu73NBovf2oXJsJ \
  --known-validator GdnSyH3YtwcxFvQrVVJMm1JhTS4QVX7MFsX56uJLUfiZ \
  --known-validator 7Np41oeYqPefeNQEHSv1UDhYrehxin3NStELsSKCT4K2

[Install]
WantedBy=multi-user.target
