#=====================================================================================================================================
# TdS service file 18/11/2021 [ver.1.8.5]
#=====================================================================================================================================
[Unit]
Description=Solana TdS node
After=sys-tuner-solana.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
LimitNOFILE=2048000
LogRateLimitIntervalSec=0

Environment="SOLANA_METRICS_CONFIG='host=https://metrics.solana.com:8086,db=tds,u=testnet_write,p=c4fa841aa918bf8274e3e2a44d77568d9861b3ea'"
Environment="RUST_LOG=solana=info"
Environment="ENTRYPOINT=entrypoint.testnet.solana.com:8001"
Environment="EXPECTED_GENESIS_HASH=4uhcVJyU9pJkvQyS88uRDiswHXSCkY3zQawwpjk2NsNY"

ExecStart=/root/.local/share/solana/install/active_release/bin/solana-validator \
  --ledger /root/solana/validator-ledger \
  --dynamic-port-range 8001-8020 \
  --identity /root/solana/validator-keypair.json \
  --vote-account /root/solana/vote-account-keypair.json \
  --gossip-port 8001 \
  --rpc-port 8899 \
  --log - \
  --no-port-check \
  --private-rpc \
  --no-untrusted-rpc \
  --rpc-bind-address 127.0.0.1 \
  --snapshot-interval-slots 3000 \
  --snapshot-archive-format tar \
  --limit-ledger-size 50000000 \
  --wal-recovery-mode skip_any_corrupted_record \
  --skip-poh-verify \
  --no-check-vote-account \
  --entrypoint ${ENTRYPOINT} \
  --expected-genesis-hash ${EXPECTED_GENESIS_HASH} \
  --entrypoint 5.9.35.85:8000 \
  --entrypoint 94.198.53.85:8000 \
  --entrypoint 178.170.42.36:8000 \
  --no-os-network-stats-reporting \
  --known-validator eoKpUABi59aT4rR9HGS3LcMecfut9x7zJyodWWP43YQ \
  --known-validator F1TuusSghAobmbGAgNrdxRS9nBjwT6J1yyALUvpEA1is \
  --known-validator 9YVpEeZf8uBoUtzCFC6SSFDDqPt16uKFubNhLvGxeUDy \
  --known-validator GmgV3mnVohRz99rsnMNWNFqzop4oSgNv6Hx1kE7PKvYU \
  --known-validator GcibmF4zgb6Vr4bpZZYHGDPZNWiLnBDUHdpJZTsTDvwe \
  --known-validator 3K8BYGTPD9AxqYQDPdU8PPy6AfiSwf4hDmFy1xXGB8Ns \
  --known-validator 5dB4Ygb8Sf3Sssdxxrpbb4NFX9bMrYnieiz11Vr5xJkJ \
  --known-validator 7TcmJn12spW6KQJp4fvvo45d1hpxS8EnLjKMxihtNZ1V \
  --known-validator 4jhyvbBHbsRDF6och7pDQ7ahYTUr7wNkAYJTLLuMUtku \
  --known-validator 4rVaXrd7BLSFZMSm4Lq63nxkVyezGxsQVpUhc9LqbxVk \
  --known-validator 82k4RGZAJxtXvW3hzgmHB2q4oDHzgwMR2cGXup324gsJ \
  --wait-for-supermajority 103858866 \
  --expected-bank-hash 7haWD8r1tvRaK1gw95eVedXKJTVD43PXnoBXyjerFbav \
  --expected-shred-version 40424 \
  --entrypoint 5.9.35.85:8001 \
  --entrypoint 178.170.42.36:8000 \
  --known-validator GcibmF4zgb6Vr4bpZZYHGDPZNWiLnBDUHdpJZTsTDvwe \
  --known-validator eoKpUABi59aT4rR9HGS3LcMecfut9x7zJyodWWP43YQ \
  --known-validator 3iPu9xQ3mCFmqME9ZajuZbFHjwagAxhgfTxnc4pWbEBC \
  --known-validator 8SRKNfvMerfA1BdU79CAwU4wNfjnDvFrBo3o5f5TS4uv \
  --known-validator FCnsZL8d45gC5aVsmheV3zs533DfM2jRk1vNnDgLNkfr \
  --known-validator 8VNj7K6ssFcUogRfT6miUzz8HTKu1nX2n8MYr5z49CXb

[Install]
WantedBy=multi-user.target
